body{
	background-color: #c0c0c0;
	margin: 0;
	color: 	#330000	;
}

.div1{
	width: 100%;
	margin-top: 15px;
	
}

	.header{
		width: 100%;
		text-align: center;
		font-size: ; 
		display : block;
	}

	.header img{
		width: 30%; 
	}

	.text1{
		width: 49%;
		font-size: 20px;
		color: ;
		display: inline-block;
		margin-right: 10px;
	}

	.pictwo{
		width: 49%;
		display: inline-block;
		text-align: center;
	}
		.pictwo img{
			width: 100%;
		}

.div2{
	width: 100%;
	margin-top: 50px;
}

	.pic6{
		width: 100%;
		text-align: center; 
		display : block;
		margin-bottom: 50px;
	}

	.pic6 img{
		width: 10%;
	}

	.picthree{
		width: 49%;
		display: inline-block;
		text-align: center;
		margin-right: 10px;
	}
		.picthree img{
			width: 100%;

		}
	.text2{
		width: 49%;
		font-size: 20px;
		color: ;
		display: inline-block;
	}
	.text2 p{
		color: #330000;
	}


.div3{
	width: 100%;
	margin-top: 50px;

}

	.pic7{
		width: 100%;
		text-align: center;
		display : block;
		margin-bottom: 30px;
	}

		.pic7 img{
			width: 10%;
		}

	.text3{
		width: 49%;
		font-size: 20px;
		color: ;
		display: inline-block;
		margin-right: 10px;
	}

	.picfour{
		width: 49%;
		display: inline-block;
		text-align: center;
	}
		.picfour img{
			width: 100%;
		}

.div4{
	width: 100%;
	margin-top: 50px;

}

	.pic8{
		width: 100%;
		text-align: center;
		font-size: ; 
		display : block;
		margin-bottom: 30px;
	}

		.pic8 img{
			width: 10%;
		}

	.picfive{
		width: 49%;
		display: inline-block;
		text-align: center;
		margin-right: 10px;
	}
		.picfive img{
			width: 100%;

		}
	.text4{
		width: 49%;
		font-size: 20px;
		color: ;
		display: inline-block;
	}




